::-webkit-scrollbar {
    width: 8px;
}

body{
    min-width: 500px;
    min-height: 500px;
    overflow-x: hidden;
}

h1{
    color: rgba(209,213,219,1);
    padding: 10px 0px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

p{
    color: rgba(156, 163, 175, 1);
}

ul{
    color: rgba(156, 163, 175, 1);
}

.changelog ul{
    color: rgba(229, 231, 235, 0.7);
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1em;
}